@import url("https://fonts.googleapis.com/css?family=Inter:700,400|Nunito+Sans:700");
@import "tailwindcss";
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}
:root{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}
.mask{
  mask-image: url(/public/mask.svg);
  background-color: #eb5939;
  mask-repeat: no-repeat;
  color: black;
}
